/*general properties*/
.wrapper {
	border: 1px solid red;
	width: 41%;
   height: 500px;
   margin: 0 auto;
   overflow: hidden;

}
body {
	   font-family: 'Jura', sans-serif;
		font-weight: 500;
		font-size: 16px;
		background-color: lightblue;
		position: relative;
	
	
}
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100px;
	font-family: 'Jura';
	font-size: 1.7rem;
	font-weight: 500;
	margin: 0 auto;
}