/*general properties*/
.wrapper {
	border: 1px solid red;
	width: 41%;
   height: 500px;
   margin: 0 auto;
   overflow: hidden;

}
body {
	   font-family: 'Jura', sans-serif;
		font-weight: 500;
		font-size: 16px;
		background-color: lavender;
		position: relative;
	
	
}
/*title*/
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100px;
	font-family: 'Jura';
	font-size: 1.7rem;
	font-weight: 500;
	margin: 0 auto;
}
.title {
	line-height: 42px;
	text-transform: uppercase;
	color: rgba(0,0,0,0.6);

	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
/*main*/
/*mems*/
.img1-slide {
   width: 100%;
   height: 100%;
   background: no-repeat;
   background-image: url(./assets/itcat.png);
   background-size: 100% 400px;
   
 }
 .img2-slide {
   width: 100%;
   height: 100%;
   background: no-repeat;
 
   background-image: url(./assets/sabdwcat.jpg);
   background-size: 75% 400px;
   
   
   
 }
 .img3-slide {
   width: 100%;
   height: 100%;
   background: no-repeat;
 
   background-image: url(./assets/driver.jpg);
   background-size: 50% 400px;
   
 }
 .img4-slide {
   width: 100%;
   height: 100%;
   background: no-repeat;
 
   background-image: url(./assets/bender.jpeg);
   background-size: 25% 400px;
   
 }

#slides {
   width: 400%;
   height: 100%;
   display: flex;
 }
/*txt*/
